<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- VOLUTAMENTE SENZA PERMESSO INTERNET -->

    <application
        android:allowBackup="false"
        android:label="Spese Offline"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeseOffline">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
